<%= form_for @news, :html => {:multipart => true } do |form| %>
  <% if @news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(news.errors.count, "error") %> prohibited this news from being saved:</h2>

      <ul>
      <% @news.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_area :title, :class=> 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :subtitle %>
    <%= form.text_area :subtitle, :class=> 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, :class=> 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :image %>
    <%= form.file_field :image, :class=> 'form-control'%>
  </div>

  <div class="form-group">
    <%= form.label :link %>
    <%= form.text_area :link, :class=> 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :video %>
    <%= form.file_field :video, :class=> 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit :class=>"btn btn-primary"%>
  </div>
<% end %>
