<p id="notice"><%= notice %></p>
<h1>News</h1>
<%= link_to 'New News', new_news_path, :style => "font-size: 150%;" "color: red;"%>
<% @news.each do |news| %>
  <div>
    <div>
    <strong>Title:</strong>
    <%= news.title %>
    </div>

    <div>
    <strong>Subtitle:</strong>
    <%= news.subtitle %>
    </div>

    <div>
      <strong>Description:</strong>
      <%= news.description %>
    </div>

    <div>
      <strong>Image:</strong>
      <%= cl_image_tag (news.image), :width=>300 , :fetch_format=>:auto%>
    </div>

    <div>
      <strong>Link:</strong>
      <%= link_to news.link, news.link %>
    </div>

    <div>
      <strong>Video:</strong>
      <%=news.video %>
    </div>
    <div>
      <%= link_to 'Edit', edit_news_path(news), :style => "font-size: 100%;" "color: #0033cc;" %>
      <%= link_to 'Destroy', news, method: :delete, data: { confirm: 'Are you sure?' }, :style => "font-size: 100%;" "color: #0033cc;" %>
      <%= link_to 'Show', news, :style => "font-size: 100%;" "color: #0033cc;" %>
    </div>
    <br></br>
  </div>
  <% end %>
