<p id="notice"><%= notice %></p>
<div>
  <div>
  <strong>Title:</strong>
  <%= @news.title %>
  </div>

  <div>
  <strong>Subtitle:</strong>
  <%= @news.subtitle %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= @news.description %>
  </div>

  <div>
    <strong>Image:</strong>
    <%= cl_image_tag (@news.image), :width=>300 , :fetch_format=>:auto, :crop=>"scale"%>
  </div>

  <div>
    <strong>Link:</strong>
    <%= link_to @news.link , @news.link %>
  </div>

  <div>
    <strong>Video:</strong>
    <%= @news.video%>
  </div>

  <div>
    <%= link_to 'Edit', edit_news_path(@news) %>
    <%= link_to 'Back', news_index_path %>
    <%= button_to "Destroy News", @news , :method => 'delete', :data => { :confirm => 'Are you sure, You want to destroy news?' }%>
  </div>
</div>
