<!DOCTYPE html>
<html>
  <head>
    <title>BNPM News</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.min.css">
    <link rel="stylesheet" href="/css/master.css">
    <%= stylesheet_link_tag 'application' , media: 'all', 'data-turbolinks-track' => true %>
  </head>

  <body>
      <nav class="navbar navbar-dark bg-secondary">

         <% if @current_user.present? %>
           <%= link_to "Your Account", user_path(@current_user.id), :class=>"navbar-brand"%>
           <%= link_to "Users", users_path, :class=>"navbar-brand" if @current_user.admin? %>
           <%= link_to "news", news_index_path, :class=>"navbar-brand" if @current_user.admin? %>
           <%= button_to "Logout", login_path, :method => "delete", :class=>"navbar-brand" %>
           <% else %>
           <%= link_to "Register", new_user_path, :class=>"navbar-brand" %>
           <%= link_to "Sign in", login_path, :class=>"navbar-brand" %>
         <% end %>
     </nav>
       <%= yield %>
  </body>
</html>
